<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact and Support</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="{{ site.googlegroup }}">Pact Support Group</a></li>
          <li><a href="{{ site.googledevgroup }}">Pact Developer Support Group</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <h2 class="footer-heading sponsors">Sponsors</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="sponsor-list">
          <li>
            <a href="http://dius.com.au/">
              <span class="icon icon-sponsor">
                <img src="/media/dius_logo_colour.png" alt="Dius">
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
