@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$dark-blue: #050928;
//$background-color: #222;
$body-bg: #f6f6f6;
$body-color: $dark-blue;
$particles-background-color: $dark-blue;
$header-top-margin: 60px;
