@import "../styles/variables";

.landing-wrapper {
	overflow: hidden;
	@include media-breakpoint-up(md) {
		margin-top: -$header-top-margin;
		padding-top: $header-top-margin;
	}

	.text, .particles {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.text {
		z-index: 1;
	}

	.particles {
		background: $particles-background-color;
		z-index: 0;
	}

	.right {
		h1, h5 {
			margin-bottom: 20px;
		}

		.pact {
			font-size: 2em;
			line-height: 0.74em;
		}
	}

	@include media-breakpoint-down(sm) {
		.text {
			position: relative;
		}

		.left, .right {
			margin-top: 30px;
		}

		h1 {
			font-size: 2rem;
		}
	}
}

