@import "../styles/variables";

.landing-wrapper {
	overflow: hidden;
	@include media-breakpoint-up(md) {
		margin-top: -$header-top-margin;
		padding-top: $header-top-margin;
	}

	.text, .particles {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	@include media-breakpoint-down(sm) {
		.text {
			position: relative;
		}
	}

	.text {
		z-index: 1;
	}

	.particles {
		background: $particles-background-color;
		z-index: 0;
	}
}

